body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #385723; /* Темно-зеленый фон */
    color: #fff; /* Белый цвет текста */
}

header {
    background-color: #223317; /* Темно-зеленый цвет для шапки */
    padding: 20px;
    text-align: center; /* Выравнивание по центру */
}

.logo a {
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 10px;
}

main {
    padding: 20px;
}

footer {
    background-color: #223317;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h1 {
    color: #aacc88; /* Светло-зеленый для заголовков */
    text-align: center;
}
